body {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    max-width: 100vw;
    background: linear-gradient(to bottom, rgb(198, 255, 231), rgb(246, 248, 248));
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 751px) {
    main {
        display: block;
    }

    #about {
        margin: auto 10vw;
        width: 80vw;
    }

    .nav, .footer {
        margin: 10px;
        width: 100px;
    }

    .for_desktop {
        display: none;
    }

    .for_mobile {
        display: inline;
    }
}

h1 {
    color: grey;
}

h2 {
    font-size: large;
    color: grey;
    border-left: 4px rgb(211, 121, 4) solid;
    padding-left: 5px;
    margin-bottom: -10px;
    margin-top: 30px;
}

nav {
    width: 200px;
    margin: 20px 45%;
}

nav a {
    margin: 0 7px;
}

.contacts {
    margin: 23px 30px;
}

.contacts > img {
    border: 1px grey solid;
}

.contacts a {
    margin: auto 5px;
}

a {
    color: rgb(223, 126, 0);
    text-decoration: none;
    display: inline-block;
}

a::after {
    content: "";
    display: block;
    opacity: 0;
    transition: opacity .2s linear;
    height: 2px;
    width: 100%;
    z-index: 1;
    background-color: rgb(223, 126, 0);
}

a:hover::after {
    opacity: 1;
}

footer {
    margin: 24px 45%;
    color: grey;
}

.for_desktop {
    display: inline;
}

.for_mobile {
    display: none;
}